
.h1 {
  color: #fff;
}

.batman {
  background-color: #000;
}


.batman-title{
  color: #d91ce6;
}

.info {
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  text-align: left;
}
.game-list a,
.game-list a:visited {
  color: #ccccff;
}

